# Mac OS
.DS_Store
**/.DS_Store

# Node modules
node_modules/
.npm/

# Build outputs
dist/
build/

# Cache directories
.cache/
.parcel-cache/
.next/

# Environment files
.env.local
.env

# IDE files
.vscode/
.idea/